@model IEnumerable<CertificadosApp.Models.Certificado>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lixeira";
}

<main class="registration-form mx-auto">
    <h1 class="text-center text-white">Certificados Excluídos</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <!-- Barra de pesquisa -->
                <div class="search-bar">
                    <input type="text" id="searchInput" onkeyup="searchCertificates()" placeholder="Pesquisar certificados...">
                </div>
                <!-- tabela de certificados -->
                <tr>
                    <th scope="col"><input type="checkbox" id="selectAll" onclick="toggleAll(this)"> Selecionar Todos</th>
                    <th scope="col">Título</th>
                    <th scope="col">Data</th>
                    <th scope="col">Participante/Ministrante</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cert in Model)
                {
                    <tr>
                        <td><input type="checkbox" name="selectedCert" value="@cert.CertificadoID"></td>
                        <td>@cert.Titulo</td>
                        <td>@cert.Data.ToString("yyyy-MM-dd")</td>
                        <td>@cert.Participante</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Botões de ações -->
    <div class="text-center mt-4">
        <button type="button" class="btn btn-verde" onclick="restaurarCertificados()">Restaurar</button>
        <button type="button" class="btn btn-roxo" onclick="window.location.href='@Url.Action("Index", "Home")'">Voltar</button>
        <button type="button" class="btn btn-vermelho" onclick="excluirCertificados()">Excluir Permanentemente</button>
    </div>
</main>
<script src="~/js/site.js"></script>
