@model IEnumerable<CertificadosApp.Models.Certificado>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Página Principal";
}

<!-- Conteúdo principal -->
<main class="registration-form mx-auto">
    <h1 class="text-center text-white">Certificados Gerados</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <div class="search-bar">
                    <input type="text" id="searchInput" onkeyup="searchCertificates()" placeholder="Pesquisar certificados...">
                </div>
                <tr>
                    <th scope="col"><input type="checkbox" id="selectAll" onclick="toggleAll(this)"> Selecionar Todos</th>
                    <th scope="col">Título</th>
                    <th scope="col">Data</th>
                    <th scope="col">Participante/Ministrante</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cert in Model)
                {
                    <tr>
                        <td><input type="checkbox" name="selectedCert" value="@cert.CertificadoID"></td>
                        <td>@cert.Titulo</td>
                        <td>@cert.Data.ToString("yyyy-MM-dd")</td>
                        <td>@cert.Participante</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Botões de ações -->
    <div class="button-group text-center">
        <button type="button" onclick="imprimirPDF('Certificado Teste.pdf')" class="btn btn-verde">Imprimir</button>
        <button type="button" class="btn btn-roxo" onclick="window.location='@Url.Action("Edit", "Certificados")'">Editar</button>
        <button type="button" onclick="openCertificate()" class="btn btn-amarelo">Exibir</button>
        <button type="button" class="btn btn-vermelho" onclick="excluirCertificado()">Excluir</button>
    </div>
</main>

<!-- Scripts necessários para Bootstrap e funcionalidades -->
<script src="~/js/site.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
